/*Redefined styles from bootstrap template*/

/*Navbar custom styles*/
.navbar-default{
    background-color: #337ab7;
    border-color: #66afe9;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
    color:white;
    background-color: transparent;
}

.navbar-default .navbar-brand {
    color: white;
}
/* L*/

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color:#ffffff;
    background-color: transparent;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: black;
    background-color:  transparent;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: white;
}

.navbar-default .navbar-toggle {
    border-color: white;
}

@media(max-width: 764px){
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: white;
    }
}
