<!-- Content of home logged user view-->
<div class="container">

    <div class="row">
        <!-- Account panel -->
        <div ng-controller="accountTableCtrl as accountCtrl" id="account-panel" class="col-md-5">
            <div class="panel panel-default">
                <!-- Account panel header -->
                <div class="panel-heading text-center">
                    Accounts
                    <div class="pull-right modal-demo">
                        <button ng-click="accountCtrl.showModal()" class="icon-button"><i
                                class="fa fa-plus-circle fa-lg blueIcon" aria-hidden="true"></i></button>
                    </div>
                </div>

                <!-- Account panel body -->
                <div class="panel-body">
                    <div class="span6">
                        <table class="table table-responsive" arrow-selector>
                            <thead>
                            <th style="width: 40%">@Twitter account:</th>
                            <th style="width: 50%">Description</th>
                            <th style="width: 10%">Delete</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="account in accountCtrl.accountList"
                                ng-show="account.activated"
                                ng-click="accountCtrl.selectAccount(account)"
                                ng-class="{'selected': accountCtrl.active === account._id}">
                                <td>@{{account.name}}</td>
                                <td>{{account.description}}</td>
                                <td>
                                    <button ng-click="accountCtrl.showDeleteModal()" class="icon-button center-block"><i
                                            id="trashIcon"
                                            href="" class="fa fa-lg fa-trash" aria-hidden="true"></i></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <table class="table table-responsive">
                            <thead>
                            <th style="width: 40%">@Disabled account:</th>
                            <th style="width: 50%">Description</th>
                            <th style="width: 10%">Reactivate</th>
                            </thead>

                            <tbody>
                            <tr ng-repeat="account in accountCtrl.accountList"
                                ng-click="accountCtrl.selectAccount(account)"
                                ng-class="{'selected': accountCtrl.active === account._id}"
                                ng-show="account.activated==false"
                            >
                                <td>@{{account.name}}</td>
                                <td>{{account.description}}</td>
                                <td>
                                    <div>
                                        <button ng-click="accountCtrl.reactivate(account)"
                                                class="icon-button center-block"><i id="reactivateIcon"
                                                                                    href="" class="fa fa-lg fa-history"
                                                                                    aria-hidden="true"></i></button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="row">
                            <div class="col-xs-4">
                                <img src="" class="img-circle">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tweet navigation toolbar with nav-pills -->
        <div id="tweet-panel" ng-controller="tweetTableCtrl as tweetCtrl" class="col-md-7">
            <uib-tabset active="activeJustified" justified="true">

                <!-- Tweet information tab-->
                <uib-tab index="0">
                    <uib-tab-heading>
                        <i class="fa fa-twitter"
                           aria-hidden="true"></i>&nbsp;Tweets information
                    </uib-tab-heading>
                    <uib-tab-body>
                        <hr>
                        <uib-tabset type="pills" class="center-pills">
                            <uib-tab heading="Home tweets" ng-click="tweetCtrl.getHomeTimeline()">
                                <hr>
                                <div class="container" ng-repeat="tweet in tweetCtrl.homeTimeLineTweetsList">
                                    <twitter-widget twitter-widget-id="tweet.id_str">
                                    </twitter-widget>
                                </div>
                            </uib-tab>
                            <uib-tab heading="My tweets" ng-click="tweetCtrl.getMyTweets()">
                                <hr>
                                <div class="container" ng-repeat="tweet in tweetCtrl.myTweets">
                                    <twitter-widget twitter-widget-id="tweet.id_str">
                                    </twitter-widget>
                                </div>
                            </uib-tab>
                            <uib-tab heading="Scheduled tweets" ng-click="tweetCtrl.getScheduledTweets()">
                                <hr>
                                <div ng-repeat="tweet in tweetCtrl.scheduledTweets">
                                    <hr>
                                    <h3>Tweets awaiting publication</h3>
                                    <table class="table table-bordered table-responsive">
                                        <thead>
                                        <tr>
                                            <th>Tweet text</th>
                                            <th>Date and time of publication</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>{{tweet.text}}</td>
                                            <td>{{tweet.publishDate | date:"dd/MM/yyyy 'at' h:mma"}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </uib-tab>
                            <uib-tab heading="Mentions" ng-click="tweetCtrl.getMentions()">
                                <hr>
                                <div class="container" ng-repeat="tweet in tweetCtrl.mentions">
                                    <twitter-widget twitter-widget-id="tweet.id_str">
                                    </twitter-widget>
                                </div>
                            </uib-tab>
                            <uib-tab heading="I have been retwitted" ng-click="tweetCtrl.getRetweets()">
                                <hr>
                                <div class="container" ng-repeat="tweet in tweetCtrl.retweets">
                                    <twitter-widget twitter-widget-id="tweet.id_str">
                                    </twitter-widget>
                                </div>
                            </uib-tab>
                            <uib-tab heading="My favorites" ng-click="tweetCtrl.getFavorites()">
                                <hr>
                                <div class="container" ng-repeat="tweet in tweetCtrl.favorites">
                                    <twitter-widget twitter-widget-id="tweet.id_str">
                                    </twitter-widget>
                                </div>
                            </uib-tab>

                            <uib-tab ng-click="tweetCtrl.isUserSelected()" heading="Real time tracking">
                                <hr>
                                <uib-tabset type="pills" class="center-pills">
                                    <uib-tab elem-ready="tweetCtrl.getTracking()" heading="Manage tracking">
                                        <hr>
                                        <div>
                                            <table class="table table-bordered">

                                                <thead>
                                                <tr>
                                                    <th class="text-center">Hashtags</th>
                                                    <th class="text-center col-md-1">Delete?</th>
                                                </tr>
                                                </thead>
                                                <tbody ng-repeat="i in tweetCtrl.allHashtags">
                                                <tr>
                                                    <td class="text-center">#{{i.hashtag}}</td>
                                                    <td>
                                                        <button class="btn btn-primary center-block"
                                                                ng-init="toggle[$index] = false"
                                                                ng-click="toggle[$index] = !toggle[$index]"><i
                                                                class="fa fa-trash text-center" aria-hidden="true"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr ng-if="toggle[$index]">
                                                    <td colspan="4"><h5 align="center">Are you sure you want to delete it?</h5>
                                                        <div class="text-center">
                                                            <div class="btn-group">
                                                                <button class="btn btn-danger"
                                                                        ng-click="tweetCtrl.deleteHashtag(i)">Yes
                                                                </button>
                                                                <button class="btn btn-info center-block"
                                                                        ng-click="toggle[$index] = false">No
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div>
                                            <form class="form-inline pull-right" ng-submit="tweetCtrl.postHashtag()">
                                                <div class="form-group">
                                                    <label>Hashtag to follow:</label>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    <input class="form-control" type="text"
                                                           ng-model="tweetCtrl.hashtag">
                                                </div>
                                                &nbsp;&nbsp;&nbsp;&nbsp;
                                                <button class=" btn btn-success pull-right" type="submit">Add
                                                </button>
                                            </form>

                                            <br><br><br><br><br>
                                            <hr>

                                            <table class="table table-bordered">
                                                <thead>
                                                <tr>
                                                    <th class="text-center">Followed users</th>
                                                    <th class="text-center col-md-1">Delete?</th>
                                                </tr>
                                                </thead>
                                                <tbody ng-repeat="i in tweetCtrl.allFollowedUsers">
                                                <tr>
                                                    <td class="text-center">{{i.user}}</td>
                                                    <td>
                                                        <button class="btn btn-primary center-block"
                                                                ng-init="toggle[$index] = false"
                                                                ng-click="toggle[$index] = !toggle[$index]"><i
                                                                class="fa fa-trash text-center" aria-hidden="true"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr ng-if="toggle[$index]">
                                                    <td colspan="4"><h5 align="center">Are you sure you want to delete it?</h5>
                                                        <div class="text-center">
                                                            <div class="btn-group">
                                                                <button class="btn btn-danger"
                                                                        ng-click="tweetCtrl.deleteFollowed(i)">Yes
                                                                </button>
                                                                <button class="btn btn-info center-block"
                                                                        ng-click="toggle[$index] = false">No
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>

                                            <form class="form-inline pull-right" ng-submit="tweetCtrl.postFollowed()">
                                                <div class="form-group">
                                                    <label for="followedUser">User to follow:</label>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    <input id="followedUser" type="text" class="form-control"
                                                           ng-model="tweetCtrl.followedUser">
                                                </div>
                                                &nbsp;&nbsp;&nbsp;&nbsp;
                                                <button type="submit" class="btn btn-success pull-right">Add</button>
                                            </form>
                                        </div>
                                    </uib-tab>
                                    <uib-tab ng-click="tweetCtrl.webSocketHashtags()" heading="Follow hashtags">
                                        <hr>
                                        <h1 class="text-center">Tweets</h1>
                                        <div ng-repeat="tweet in tweetCtrl.hashtagTweet.slice().reverse() track by tweet.id_str ">
                                            <twitter-widget twitter-widget-id="tweet.id_str">
                                            </twitter-widget>
                                        </div>
                                    </uib-tab>
                                    <uib-tab ng-click="tweetCtrl.webSocketFollowedUsers()"
                                             heading="Tweets from hashtags users you follow">
                                        <hr>
                                        <h1 class="text-center">Tweets</h1>
                                        <div ng-repeat="tweet in tweetCtrl.followedUserTweet.slice().reverse() track by tweet.id_str">
                                            <twitter-widget twitter-widget-id="tweet.id_str">
                                            </twitter-widget>
                                        </div>
                                    </uib-tab>
                                </uib-tabset>
                            </uib-tab>
                        </uib-tabset>

                    </uib-tab-body>
                </uib-tab>

                <!--  Publish tweet tab -->
                <uib-tab index="1">
                    <uib-tab-heading>
                        <i class="fa fa-twitch" aria-hidden="true"></i>&nbsp;Post tweet
                    </uib-tab-heading>
                    <uib-tab-body>
                        <hr>
                        <h1>Post a tweet</h1>
                        <hr>
                        <form name="tweetForm" ng-submit="tweetCtrl.publishTweet()" role="form">
                            <label>Add a tweet:</label>
                            <textarea class="form-control embed-responsive" row="5" ng-maxlength="140"
                                      ng-model="tweetCtrl.tweet"></textarea>
                            <br>
                            <button type="submit" class="btn btn-default">Post tweet <i
                                    class="fa fa-plus-circle fa-lg blueIcon"></i>
                            </button>

                        </form>

                        <hr>
                        <h1>Advanced functions</h1>
                        <hr>
                        <!--URL SHORTENER && UPLOAD IMAGES -->
                        <div>
                            <button id="shortButton" ng-click="tweetCtrl.showUrlModal()"
                                    class="btn btn-default colorButton pull-left">
                                Short URL&nbsp;<i class="fa fa-cut fa-lg blueIcon"></i>
                            </button>
                            <button id="uploadButton" ng-click="tweetCtrl.uploadImageModal()"
                                    class="btn btn-default colorButton pull-right">
                                Upload an image&nbsp;<i class="fa fa-upload fa-lg blueIcon"></i>
                            </button>
                        </div>
                    </uib-tab-body>
                </uib-tab>


                <!-- Other tools tab -->
                <uib-tab index="2">
                    <uib-tab-heading>
                        <i class="fa fa-cogs " aria-hidden="true"></i>&nbsp;More tools
                    </uib-tab-heading>
                    <uib-tab-body>
                        <hr>
                        <h1>Schedule tweet</h1>
                        <hr>
                        <form name="scheduleForm" ng-submit="tweetCtrl.scheduleTweet()" role="form">
                            <label>Schedule a tweet:</label>
                            <textarea class="form-control embed-responsive" row="5" ng-maxlength="140"
                                      ng-model="tweetCtrl.sTweet"></textarea>
                            <hr>
                            <label>Select date and time:</label>
                            <adm-dtp ng-model='tweetCtrl.sDate' options='{autoClose:true, calType: "gregorian",
                            default:"today",gregorianStartDay: 1,    gregorianDic: {
        title: "Grégorien",
                            monthsNames: ["January", "February", "March", "April", "May", "June", "July", "August",
                            "September", "October", "November", "December"], daysNames: ["S", "M", "T", "W", "Th", "F", "S"],
                            todayBtn: "Current month"
                            }}'></adm-dtp>
                            <br>
                            <button type="submit" class="btn btn-default">Schedule tweet <i
                                    class="fa fa-plus-circle fa-lg blueIcon"></i>
                            </button>
                        </form>

                        <hr>
                        <h1>Advanced functions</h1>
                        <hr>
                        <!--URL SHORTENER && UPLOAD IMAGES -->
                        <div>
                            <button ng-click="tweetCtrl.showUrlModal()" class="btn btn-default colorButton pull-left">
                                Short URL&nbsp;<i class="fa fa-cut fa-lg blueIcon"></i>
                            </button>
                            <button ng-click="tweetCtrl.uploadImageModal()"
                                    class="btn btn-default colorButton pull-right">
                                Upload an image&nbsp;<i class="fa fa-upload fa-lg blueIcon"></i>
                            </button>
                        </div>

                    </uib-tab-body>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>