<!-- Content of home logged user view-->
<div class="container">
    <div class="row">
        <!-- Account panel -->
        <div  id="account-panel" class="col-md-4">
            <div class="panel panel-default">
                <!-- Account panel header -->
                <div class="panel-heading text-center">
                    Cuentas
                </div>
                <!-- Account panel body -->
                <div ng-controller="accountCtrl" class="panel-body">
                    <div class="span6">
                        <table class="table table-striped table-condensed">
                            <thead>
                            <tr>
                                <th style="min-width: 80px;">Nombre de usuario: </th>
                                <th style="min-width: 80px;">@Cuenta de twitter:</th>
                                <th style="width:20px;">Descripcion</th>
                                <th style="width:20px;"> </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="account in accounts">
                                <td>{{ account.username }}</td>
                                <td>{{ account.twittername }}</td>
                                <td><a ng-click="deleteAccount(account.id)" class="btn btn-small btn-danger">Eliminar</a></td>
                            </tr>
                            </tbody>
                        </table>
                        <form>
                            Añade una descripcion : <input type="text" ng-model="description">
                            <button ng-click="addAccount()" class="icon-button"><i class="fa fa-plus-circle fa-lg" aria-hidden="true">Añadir cuenta</i></button>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <img src="" class="img-circle">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tweet navigation toolbar with nav-pills -->
        <div id="main-panel" class="col-md-8">

            <div class="panel panel-default">

                <!-- Tweet navigation toolbar header -->
                <div class="panel-heading">
                    <ul class="nav nav-pills ">
                        <li ><a href="/">
                            <i class="fa fa-twitter" aria-hidden="true"></i>&nbsp;Información de tweets</a>
                            <div ng-controller="tweetInformationCtrl"></div>
                        </li>
                        <li>
                            <a class="active" href="/publish-tweet">
                                <i class="fa fa-twitch" aria-hidden="true"></i>&nbsp;Publicar tweet
                                <div ng-controller = "tweetPublishCtrl"></div>
                            </a>
                        </li>

                        <!-- User drodown menu -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false"><i class="fa fa-cogs" aria-hidden="true"></i>&nbsp;Más herramientas
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu clearfix">
                                <li><a href="/url-shortener">Acortador de URL's</a></li>
                                <li><a href="/statics">Estadísticas</a></li>
                                <li><a href="/hasthags">Seguimiento de <br>hashtags
                                    o de usuarios</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <!-- Tweet navigation toolbar body -->
                <div class="panel-body">
                    holi
                </div>
            </div>
        </div>
    </div>
</div>
