<!-- Index body content, component jumbotron with welcome message -->
<div id="welcomeHeader" class="jumbotron">
    <div class="container text-center">
        <h2 class="hidden-xs">Recover your forgotten password at </h2>
        <h1>Perdigueros Tweet Manager</h1>
    </div>
</div>
<div class="container">
    <h4 class="text-center">Complete the form below and the PTM team will forward you a password instantly.</h4>

        <form name="forgotForm" ng-submit="remember()" class="form-horizontal validate-form" role="form" >
            <div class="row input-validate">
                    <div class="form-group">
                        <div class="col-xs-10">
                            <input type="email" name="email" class="form-control" placeholder="E-mail" required ng-model="emailForgot" >
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-10">
                            <button type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg">Resend password</button>
                        </div>
                    </div>
                </div>
        </form>
</div>