<hr>
<div class=" container omb_login">
    <h3 class="omb_authTitle">Reactiva tu cuenta</a></h3>
    <div class="row omb_row-sm-offset-3 omb_socialButtons">
        <div class="col-xs-4 col-sm-2">
            <a ng-click="reactivate.reactivate('facebook')" class="btn btn-lg btn-block omb_btn-facebook">
                <!--Responsive method -->
                <i class="fa fa-facebook visible-xs"></i>
                <span class="hidden-xs">Facebook</span>
            </a>
        </div>
        <div class="col-xs-4 col-sm-2">
            <a  ng-click="reactivate.reactivate('openid')" class="btn btn-lg btn-block omb_btn-openid">
                <!--Responsive method -->
                <i class="fa fa-openid visible-xs"></i>
                <span class="hidden-xs">OpenID</span>
            </a>
        </div>
        <div class="col-xs-4 col-sm-2">
            <a ng-click="reactivate.reactivate('google')" class="btn btn-lg btn-block omb_btn-google">
                <!--Responsive method -->
                <i class="fa fa-google-plus visible-xs"></i>
                <span class="hidden-xs">Google+</span>
            </a>
        </div>
    </div>

    <!-- or login with system credentials -->
    <div class="row omb_row-sm-offset-3 omb_loginOr">
        <div class="col-xs-12 col-sm-6">
            <hr class="omb_hrOr">
            <span class="omb_spanOr">o</span>
        </div>
    </div>

    <div class="row omb_row-sm-offset-3">
        <div class="col-xs-12 col-sm-6">
            <form name="reactivateForm" ng-submit="reactivate.reactivate('local')" name="reactivateForm" role="form" class="omb_loginForm" novalidate method="post">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input type="email" class="form-control" name="email" placeholder="E-mail" id="email" ng-model="reactivate.email" required>
                </div>

                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input type="password"  class="form-control" name="passwd" placeholder="Contraseña" id="passwd" ng-model="reactivate.passwd" required>
                </div>

                <div class="form-group" id="captcha">
                    <div  theme="light"  vc-recaptcha key="'6LcU-iEUAAAAANZLuIw0e1txZeTH1VAVSIl8RPKx'" ng-model="reactivate.captchaResponse"></div>
                </div>

                <button  class="btn btn-lg btn-primary btn-block" type="submit">Reactivar cuenta</button>
            </form>
            {{reactivate.captchaResponse}}
        </div>
    </div>
</div>