
<div class="container">
    <h1  class="text-center ">PTM Team will resend your registration code again.</h1>
    <div class="container">
        <form name="validateForm" ng-submit="remember()" class="form-horizontal resend-form" role="form" >
            <div class="row input-validate col-xs-12 col-sm-12 col-md-6">
                <div class="form-group">
                    <div class="col-xs-10">
                        <input type="email" name="email" class="form-control" placeholder="E-mail" required ng-model="email" >
                    </div>
                </div>
                </div>
        </form>
    </div>
</div>