<div class="modal-header">
    <h3 class="modal-title">URL shortener</h3>
</div>
<div class="modal-body">
    <form ng-submit="postUrl()">
        <div class="form-group row">
            <div class="col-xs-12">
                <label >URL to short</label>
                <input class="form-control" ng-model="urlData"/>
            </div>
            <div class="col-xs-12">
                <button id="button" type="submit" class="form-control btn btn-primary btn-sm center-block">&nbsp;Short</button>
            </div>
        </div>
    </form>
    <!-- Result of shortener-->
    <tr>
            <td >
                <div class="row">
                    <div class="col-xs-10">
                        <pre id="foo">{{urlResponse}}</pre>
                    </div>
                    <div clas="col-xs-2">
                        <button class="btn" ngclipboard data-clipboard-target="#foo">
                            <i class="fa fa-clipboard fa-lg center-block" aria-hidden="true" title="Copy to clipboard"></i>
                        </button>
                    </div>
                </div>
            </td>
    </tr>
</div>
<div class="modal-footer">
    <button ng-click="close()" class="btn btn-primary pull-left">Close</button>
</div>