<!-- Statistics View-->

<div class="container">
    <div class="row">
        <div ng-app="StadisticsData" ng-controller="UserDoorController">
			<ul class="nav nav-pills center-pills">
  				<li class="active"><a href="/admin-door-panel">Ups and Downs</a></li>
  				<li><a href="/admin-last-panel">LogIn's</a></li>
  				<li><a href="/admin-activity-panel">Activity</a></li>
			</ul>
			<h2 align="center">Ups/Downs per month</h2>
			<canvas id="in" class="chart chart-bar"
                        chart-data="data" chart-labels="labels" chart-series="series" chart-options="options">
            </canvas>
        </div>
    </div>
</div>
