<!-- Content of list of accounts view-->

<div class="container" ng-app="ListAccounts" ng-controller="AccountController">
    <div class="row" >
        <!-- List with users -->
        <div class="col-xs-12 col-md-6">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th class="text-center">Name</th>
						<th class="text-center">User</th>
						<th class="text-center">Information</th>
						<th class="text-center col-md-1">Delete?</th>
					</tr>
				</thead>
				<tbody ng-repeat="i in accounts">
					<tr>
						<td class="text-center">{{i.name}}</td>
						<td class="text-center">{{i.email}}</td>
						<td class="text-center"><button type="button" ng-click="showInfo(i)" class="btn btn-info">Information</button>
						<td><button class="icon-button center-block"  ng-init="toggle[$index] = false" ng-click="toggle[$index] = !toggle[$index]"><i class="fa fa-trash text-center" aria-hidden="true"></i></button></td>
					</tr>
					<tr ng-if="toggle[$index]">
						<td colspan="4"><h5 align="center">Are you sure you want to delete it?</h5><div class="text-center"><div class="btn-group"><button class="btn btn-danger"  ng-click="removeAccount(i)">Yes</button><button class="btn btn-info center-block" ng-click="toggle[$index] = false">No</button></div></div></td>
					</tr>
				</tbody>
			</table>
        </div>
        <div class="col-xs-12 col-md-6" >
        	<table class="table table-bordered">
				<thead>
					<tr>
						<th class="text-center">Followed Users of {{account_select}}</th>
						<th class="text-center">Hashtags of {{account_select}}</th>
						<th class="text-center">Description of {{account_select}}</th>
					</tr>
						
				</thead>
				<tbody>
					<tr>
						<td class="text-center"><pre>{{followed_select}}</pre></td>
						<td class="text-center"><pre>{{hashtags_select}}</pre></td>
						<td class="text-center"><pre>{{account_description}}</pre></td>
					</tr>
				</tbody>
        	</table>
        </div>
    </div>
</div>