<!-- Content of list of users view-->

<div class="container">
    <div class="row">
        <!-- List with users -->
        <div class="col-xs-12">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th class="text-center">User</th>
						<th class="text-center">Last Input</th>
						<th class="text-center">Register Date</th>
                        <th class="text-center col-md-1">Delete?</th>
					</tr>
				</thead>
				<tbody ng-repeat="i in users">
					<tr>
						<td class="text-center">{{i.email}}</td>
						<td class="text-center">{{i.last}}</td>
						<td class="text-center">{{i.registrationDate}}</td>
                        <td><button class="icon-button center-block"  ng-init="toggle[$index] = false" ng-click="toggle[$index] = !toggle[$index]"><i class="fa fa-trash text-center" aria-hidden="true"></i></button></td>
					</tr>
					<tr ng-if="toggle[$index]">
						<td colspan="4"><h5 align="center">Are you sure you want to delete it?</h5><div class="text-center"><div class="btn-group"><button class="btn btn-danger"  ng-click="removeUser(i)">Yes</button><button class="btn btn-info center-block" ng-click="toggle[$index] = false">No</button></div></div></td>
					</tr>
				</tbody>
			</table>
        </div>
    </div>
</div>