<!-- Content of form with password and submit button-->
<div class="container">
    <div class="row">
        <!-- Form with password -->
		<h2 align="center">Welcome to admin panel</h2><br /><br />
        <div class="col-xs-4 col-xs-offset-4">
			   <form name="myForm" ng-submit="checkPwd()">
       				<label for="password">Password</label>
       				<input type="password" id="password" name="password" ng-model="password" ng-minlength="8" ng-maxlength="20" required  />
   					<span ng-show="!myForm.password.$error.required && (myForm.password.$error.minlength || myForm.password.$error.maxlength) && myForm.password.$dirty"><br />Password at least 8 characters and 20 maximum<br /></span>
					<div id="captcha" vc-recaptcha key="'6LcU-iEUAAAAANZLuIw0e1txZeTH1VAVSIl8RPKx'" on-create="setWidgetId(widgetId)"></div>
   					<span ng-show="pwdError"><br />{{error}}<br /></span>
       				<br/>
   					<button id="button" type="submit" class="btn btn-primary btn-lg center-block" ng-disabled="!myForm.$valid"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;Enter</button>
				</form>
        </div>
    </div>
</div>